language: java
jdk:
  - openjdk8
before_install:
  - sudo apt-get -y install jq
before_script:
  - ls -lah
  - google-chrome-stable --version
addons:
  chrome: stable

env:
  global:
    - CHROME_PROPERTIES="chrome.properties"
    - WITH_PARAMS="-Ddriver=chrome -Dchrome.capabilities.path=../$CHROME_PROPERTIES" #add -ntp when maven will be >=3.6.1 on travis
    - NOPO_TESTS="com.epam.jdi:jdi-bdd-no-po-tests"
    - BDD_TESTS="com.epam.jdi:jdi-bdd-tests"
    - HTML_TESTS="com.epam.jdi:jdi-light-html-tests"
    - ANGULAR_TESTS="com.epam.jdi:jdi-light-angular-tests"
    - EXAMPLES="com.epam.jdi:jdi-light-examples"
    - PERFORMANCE="com.epam.jdi:jdi-performance"
    - CHROME_ARGS="--headless"

stages:
  - prepare
  - compile
  - test
  - reports

jobs:
  include:
    - stage: prepare
      name: Welcome to jdi
      script:
        - echo ------------------- WELCOME TO JDI ----------------------
        - mvn --version #it is helpful

    - stage: compile
      name: Compile jdi code
      script:
        - mvn install -DskipTests

    - stage: test
      name: Run tests - no po
      script:
        - mvn -ntp install -DskipTests
        - echo "arguments=--headless" > "chrome.properties"
        - mvn verify -Ddriver=chrome -Dchrome.capabilities.path=../chrome.properties -pl "com.epam.jdi:jdi-bdd-no-po-tests"

    - stage: test
      name: Run tests - bdd
      script:
        - mvn -ntp install -DskipTests
        - echo "arguments=$CHROME_ARGS" > $CHROME_PROPERTIES
        - mvn verify $WITH_PARAMS -pl $BDD_TESTS

    #TODO: bootstrap tests exceeded the maximum time limit for jobs (>50min)
    #  - stage: test
    #    name: Run tests - bootstrap
    #    script:
    #    - mvn install -DskipTests
    #    - echo "arguments=$CHROME_ARGS" > $CHROME_PROPERTIES
    #    - mvn verify $WITH_PARAMS -pl $BOOTSTRAP_TESTS

    - stage: test
      name: Run tests - html
      script:
        - mvn -ntp install -DskipTests
        - echo "arguments=$CHROME_ARGS" > $CHROME_PROPERTIES
        - mvn verify $WITH_PARAMS -pl $HTML_TESTS

    - stage: test
      name: Run tests - angular
      script:
        - mvn install -DskipTests
        - echo "arguments=$CHROME_ARGS" > $CHROME_PROPERTIES
        - mvn verify $WITH_PARAMS -pl $ANGULAR_TESTS

    - stage: test
      name: Run tests - examples
      script:
        - mvn -ntp install -DskipTests
        - echo "arguments=$CHROME_ARGS" > $CHROME_PROPERTIES
        - mvn verify $WITH_PARAMS -pl $EXAMPLES

    - stage: test
      name: Run tests - performance
      script:
        - mvn -ntp install -DskipTests
        - echo "arguments=$CHROME_ARGS" > $CHROME_PROPERTIES
        - mvn verify $WITH_PARAMS -pl $PERFORMANCE

    - stage: reports
      name: Deploy allure reports to netlify
      script:
        - npm install -g allure-commandline
        - npm install -g netlify-cli
        - allure --version
        - source reports.sh
        - deployAllureResults
after_failure:
  - echo "Build was failed"
after_success:
  - echo "Build was successful"
after_script:
  - source reports.sh
  - grubAllureResults
  - du -d 1 -h ./
  - ls -la
# extra time during long builds
install:
  - travis_wait
