<configuration>
    <property name="logFileName" value="jdiEvents"/>
    <property name="baseDir" value="./target/.logs"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{mm:ss.SS} [%c:%p]: %m%n</pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${baseDir}/${logFileName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- every minute rollover -->
            <fileNamePattern>${baseDir}/${logFileName}_%d{yyyy-MM-dd_HH-mm}_%i.log</fileNamePattern>

            <!-- keep 5 days' worth of history capped at 3GB total size -->
            <maxFileSize>250MB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss} [%t] %-5level %logger{6} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="htmlFileLogger" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${baseDir}/app-info.html</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${baseDir}/app-info-%d{yyyy-MM-dd}_%i.html</fileNamePattern>

            <!-- keep history capped at 3GB total size -->
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
<!--        <layout class="ch.qos.logback.classic.html.HTMLLayout"/>-->
        <layout class="ch.qos.logback.classic.html.HTMLLayout">
            <pattern>%relative%thread%mdc%level%logger%msg</pattern>
        </layout>
    </appender>


    <root level="INFO">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="htmlFileLogger"/>
    </root>

    <logger name="JDI" level="INFO" additivity="false">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
        <appender-ref ref="htmlFileLogger"/>
    </logger>

</configuration>
